nav.sidebar {
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  background: none repeat scroll 0 0 #021230;
  color: white;
}

nav.sidebar.collapsed {
  width: 0;
  transition: width 0.25s ease;
  text-indent: -9999px; 
}

nav.sidebar.expanded {
  width: 260px;
  padding: 20px 10px;
  z-index: 1;
  transition: width 0.25s ease;
}